[submodule "labview"]
	path = labview
	url = https://github.com/Ricsi1231/DC-Motor-Controller-SCADA.git
	branch = main
[submodule "hardware"]
	path = hardware
	url = https://github.com/Ricsi1231/DC-Motor-Controller-Hardware.git
[submodule "firmware"]
	path = firmware
	url = https://github.com/Ricsi1231/DC-Motor-Controller-Firmware.git
